@import "tailwindcss";

/* ====== Light Theme ====== */
:root {
  --background: #f9f8f6; /* 메인 배경 */
  --foreground: #2a2a2a; /* 글자 기본 */

  --color-primary: #c9b59c; /* 포인트 (버튼/강조 텍스트) */
  --color-secondary: #d9cfc7; /* 섹션/카드 백그라운드 */
  --color-panel: #efe9e3; /* 패널, 섹션 라운드 카드 */

  --color-muted: #8a857f; /* 흐린 텍스트 */
}

/* ====== Dark Theme ====== */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1a19;
    --foreground: #eceae7;

    --color-primary: #d8c8b4;
    --color-secondary: #3a3836;
    --color-panel: #2a2928;

    --color-muted: #b7b1ab;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 부드러운 스크롤 */
html,
body {
  scroll-behavior: smooth;
}
